body{
    font-family: Roboto;
    background-color: #F7F5F5;
    color: #000000;
    font-size: 14px;
}

/* Sidebar */
.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
    width: 240px;
    z-index: 600;
    background-color: #0061AE;
}

@media (max-width: 991.98px) {
    .sidebar {
        width: 100%;
    }
}
.sidebar .active {
    background-color: white;
    color: #0061AE;
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: 0.5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.user-dropdown {
    margin-left: 10px;
    color: #000000;
    font-size: 15px;
}

.breadcrumb {
    font-size: 10px;
}

.list-group-item {
    color: white;
    background-color: #0061AE;
    border: 0;
}

.list-group-item-action:focus, .list-group-item-action:hover {
    color: #0061AE;
}

.open-button {
    color: #6200EE;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 1.25px;
}

.title {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.15px;
}

.edit {
    color: #0061AE;
}

.blue-button {
    color: #0061AE;
}

.save-button {
    background: #0061AE!important;
    border-radius: 4px;
    color: #FFFFFF;
    text-align: center;
    text-transform: capitalize;
    font-size: 14px;
}

.add-button {
    background: #0061AE!important;
    border-radius: 4px;
    color: #FFFFFF;
    text-align: center;
    font-size: 14px;
    text-transform: capitalize;
}

.pointer {
    cursor: pointer
}

.card-paragraph {
    height: 75px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.bg-blue {
    background: #0061AE;
}

.upload {
    display: flex;
    align-items: center;
    text-align: center;
    height: 46px;
    width: 246px;
    border: 1px dashed #B8B8B8;
    border-radius: 5px;
    cursor: pointer;
}

.div-upload-icon {
    background-color: #DEDCDC;
    color: white;
    width: 59px;
    height: 46px;
}

.div-upload-text {
    font-size: 10px;
    width: 187px;
}