{% extends '/admin/base.html.twig' %}
 {% block dashbordNav %}
       <li class="nav-item">
 {% endblock %}
 {% block articleNav %}
       <li class="nav-item">
 {% endblock %}
 {% block authorNav %}
       <li class="nav-item">
 {% endblock %}
 {% block categoryNav %}
       <li class="nav-item active">
 {% endblock %}
{% block content %}
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">   {% block contentTitle %}  {{titre}} categorie  {% endblock %}</h1>
    </div>

    <!-- Content Row -->
    <div class="row">
       {{ form(form) }}
    </div>
{% endblock %}

