{% extends '/admin/base.html.twig' %}

    {% block content %}
        <!-- Content Row -->
        <div class="row">
            <div class="col-8">
                {{ form(form) }}
            </div>
        </div>
    {% endblock %}

