{% extends '/admin/base.html.twig' %}

 {% block dashbordNav %}
       <li class="nav-item">
 {% endblock %}
 {% block articleNav %}
       <li class="nav-item active">
 {% endblock %}
 {% block authorNav %}
       <li class="nav-item">
 {% endblock %}
 {% block categoryNav %}
       <li class="nav-item">
 {% endblock %}
{% block content %}
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">   {% block contentTitle %} {{titre}} article  {% endblock %}</h1>
    </div>

    <!-- Content Row -->
    <div class="row">
       {{ form(form) }}
    </div>
{% endblock %}
{% block documentReady %}
    <script>
        $(document).ready(function() {
            $('.custom-file-input').on('change', function (event) {
                let inputFile = event.currentTarget;
                $(inputFile).parent().find('.custom-file-label').html(inputFile.files[0].name);
            });
        });
    </script>
{% endblock %}